.custom-dialog {
  max-width: unset !important;
  max-height: unset !important;
}
.custom-dialog .mat-dialog-container {
  padding: 0;
}

.custom-dialog .mat-dialog-title {
  background: #3c58bc;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: inherit;
  height: 40px;
  display: flex;
}

.custom-dialog .mat-dialog-title .title {
  flex: auto;
  height: inherit;
  margin: 0;
  padding: 10px 15px;
  font-size: 16px;
  cursor: move;
  color:#fff;
}

.custom-dialog .mat-dialog-content {
  margin: 0px;
  padding: 20px 20px 20px;
  height: calc(100% - 52px - 40px);
  max-height: 100%;
}

.custom-dialog .mat-dialog-actions {
  margin: 0px;
  padding: 0px 15px; 
  justify-content: flex-end;
  box-shadow: 0 0 10px 0 #0c0c0c7a;
}

 
 




